# Signing keystore + passwords - must never be committed
/signing/
*.keystore
*.jks

##Standard Android Studio ignores

*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
